
body {
	background-color: rgb(133, 128, 128);
	font-family: 'Lato', sans-serif !important;
	color: white;
}

h3, h1 {
	color: #006633;
}

p {
	line-height: 20px !important;
}

.w3-container {
	height: auto;
	margin: auto;
	/* all around box shadow --> */
	box-shadow: 0 0 10px #FFCC33, 0px -10px 5px #FFCC33;
}

.header {
	min-height: 100px;
	background-color: whitesmoke;
	border: 5px solid #006633;
	box-shadow: 0px 0px 15px 006633;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 0 0 10px #FFCC33, 0px -10px 5px #FFCC33;
}

.header img {
	height: 100px;
	margin: 10px 0px 10px 50px;
	border-radius: 20px;
}

.surveyHeadLeft {
	color: white;
	background-color: #006633;
	text-align: center;
	margin: 0px 80px 10px 0px;
}

.surveyHeadLeft a {
	background-color: #006633;
	text-decoration: none;
	width: 50%;
	padding: 10px 30px;
	color: white;
}

.surveyHeadLeft :hover {
	background-color: #FFCC33;
	color: #006633;
}

.footer {
	padding: 40px;
	box-shadow: 0 0 10px #FFCC33;
}

.toTop {
	text-align: center;
}

.headPart {
	background-color: #f0e2b7;
	color: #006633;
	padding: 10px;
	box-shadow: 0 0 10px #006633, 0px -10px 5px #006633;
}

.surveyCont {
	display: flex;
	flex-direction: column;
}

.form {
	background-color: #006633;
	padding: 10px;
	box-shadow: 0 0 10px #FFCC33, 0px -10px 5px #FFCC33;
}

.form h5 {
	text-align: center;
}

.midForm {
	margin: auto;
	background-color: #FFCC33;
	width: 70%;
	border-radius: 5px;
	padding: 20px;
	color: #006633;
}
.surveyDate {
	display: block;
	width: 100%;
}
.topForm {
	min-height: 420px;
	
}
